html,body,img{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'メイリオ',"Hiragino Kaku Gothic Pro",sans-serif;
    overflow-x: hidden;
}
@mixin t-style{/*テキスト整列に使用*/
        width: 50%;
        height: auto;
        padding:0 20px 50px 20px;
        background: #fff;
        position: absolute;
}
@mixin anchor-style{/*アンカータグの仕様*/
     font-size: 20px;
        color: #000;
        text-decoration: none;
        border:1px solid #fff;
        box-shadow: 1px 1px #bcbcbc; 
        padding: 10px;
        margin: 10px;
        &:hover{
        background-color: rgba(255, 128, 0, 0.3);
            color: #fff;
    }
}
@mixin hover-style{/*テキストホバー時*/
    background: rgba(0,0,0,0.5);
    color: #fff;
    }
    >a{
        color: #fff;
}
.centering{
    text-align: center;
    margin: 20px;
    >p{
        text-align: left;
    }
}
img.img{
    width: 100vw;
    height: auto;
    position: relative;
}
 
.header{
    position: absolute;
    top: 15px;
    right: 25px;
    display: flex;
    background-color: #fff;
    li{
        list-style-type: none;
        margin: 15px;      
    }
    a{
     position: relative;
        text-decoration: none;
        color: #000;
    }
    a:after{
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     width: 0%;
     content: '.';
     color: transparent;
     background: orange;
     height: 1px;
       }
    a:hover:after {
     width: 100%;
}
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.text{
    position: absolute;
    bottom: 50px;
    left: 0;
    padding: 10px;
    .catch,
    .text_top,
    .text_bottom{
       background: #fff; 
        animation: fadeIn 3s ;
        animation-iteration-count: 1;
    }
}
p.text_bottom,
p.text_top{
        font-size: 5vw;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0 20px;
        display: inline-block;
    }
 p.catch{/*one for all~*/
     font-size: 22px;
     display: block;  
     width: 40%;
     text-align: center;
    }
.news{
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    vertical-align: baseline;
    padding-bottom: 50px;
    a{
        @include anchor-style;
        display: inline-block;
        font-size: 12px;
        padding: 11.5px 22px;
        flex: 1;
    }.font_news{
        font-size: 24px;
        font-weight: bold;
        flex: 1;
    }.font_text{
        font-size: 16px;
        font-weight: bold;
        flex: 1;
    }
}
.about{
    position: relative;
    margin-bottom: 100px;
     a{
          @include anchor-style;
        }
    .img{
        width: 100vw;
        height: auto;
    }
}
.about_text{
   @include t-style;
    left: 0;
    bottom: 10%;
    &:hover{
        @include hover-style;
    }  
    }

.en{
    font-size: 12px;
    margin-top: 0;
    text-align: center;
    }
.text_h1{
    font-size: 42px;
    margin-bottom: 0;
    text-align: center;
}
.life{
    position: relative;
    margin-bottom: 100px;
    .img{
        width: 100vw;
        height: auto;
    }
    }
.life_text{
        @include t-style;
        bottom: 10%;
        right: 0;
    &:hover{
            @include hover-style;
        }
    a{
      @include anchor-style;
    }
}
.recruit{
    position: relative;
    margin-bottom: 100px;
.img{
    width: 100%;
    height: auto;
    }
}
.recruit_text{
    @include t-style;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    &:hover{
           @include hover-style;
        }
    a{
        @include anchor-style;
    }
}

/*---------subpage----------*/
/* Bounce To Left -テキストホバー時のアクション*/
.hvr-bounce-to-left {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
}
.hvr-bounce-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: orange;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.hvr-bounce-to-left:hover, .hvr-bounce-to-left:focus, .hvr-bounce-to-left:active {
  color: white;
}
.hvr-bounce-to-left:hover:before, .hvr-bounce-to-left:focus:before, .hvr-bounce-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}



.w-1000{
    max-width: 1000px;
    margin: 0 auto 100px auto;
    >h2,>p,ul,li{
        clear: both;
    }
    table{
        border-spacing: 10px;
    }
      th{
        text-align: left;
    }
    th:not(.no-border),
    td:not(.no-border){
        border-bottom: 1px dotted gray;
    }
}
.center-img{
    text-align: center;
    float: right;
}
.rotate{/*縦書き*/
     writing-mode: vertical-rl;
    border-left: 3px solid orange;
}

.sub_gaiyou,
.sub_rinen{
    position: relative;   
}
#absolute{/*将来幸せ~*/
    position: absolute;
    left: -50px;
    bottom: 50px;
    background: #fff;
    padding: 10px;
}
.g-text{
    width:40%;
    background-color: #fff;
    font-size: small;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}


/*----@media----------*/
@media(max-width:1000px){
    html{
        font-size: 14px !important;
        width: 100vw;
    }
    body{
        margin: 10px;
    }
    img{
        width: 100%;
    }
    .container{
        width: 50vw;
        height: auto;
        position: static;
        text-align: center;
        margin: 0 auto;
       
    }
    p.catch{
        display: inline-block;
        width: 100%;
    }
    .news{
        display: inline-block;
    }
    .w-1000{
     clear: both;
    }
    .rotate{
     writing-mode:horizontal-tb;
    }
    #absolute{
        position: static;
    }
    .g-text{
        width: 100%;
        position:static;
    }
}
@media(max-width:420px){
    li{
        display: inline-block;
        font-size: 10px;
    }
    .header{
        position: static;
    }
    a{
        font-size: 10px;
        margin: 0;
        padding: 0;
    }
}
